.App {
  text-align: center;
}

input select {
  border: 1px solid gray;
}

input:focus, select:focus  {
  border-radius: 2px;
  outline: 5px solid pink;
  border: none
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"] {
  accent-color: pink;
}